.user-item {
    margin: 1rem 2rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  .user-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: #f1f0ea;
    background: #28779e
  }
  
/*   .user-item a:hover,
  .user-item a:active {
    background: #cf8700;
  } */
  
  .user-item__content {
    padding: 0;
  }
  
  .user-item__image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  
  .user-item__info h2 {
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: #f1f0ea;
  }
  
 /*  .user-item:hover h2,
  .user-item:active h2,
  .user-item:hover h3,
  .user-item:active h3 {
    color: #292929;
  } */
  
  .user-item__info h3 {
    margin: 0;
    font-size:.9rem;
  }