.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background: #28779e;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

@keyframes button-hover {
  from {background: #28779e};
  to {background: #232646};
}

.button:hover,
.button:active {
/*   animation-name: button-hover;
  animation-duration:1 sec; */
  animation-name: button-hover;
  animation-duration: .5s;
  background: #232646;
/*   border-color: #28779e; */
}

.button--inverse {
  background: transparent;
  color: #28779e;
}

@keyframes button-hover-inverse {
  from{color: #28779e};
  to{color: #232646};
}

.button--inverse:hover,
.button--inverse:active {
  animation-name: button-hover-inverse;
  animation-duration: .5s;
  background: transparent;
  color: #232646;
}

.button--danger {
  background: #ee320f;
}

@keyframes button-hover-danger {
  from {background: #ee320f};
  to {background: #c1290d}
}

.button--danger:hover,
.button--danger:active {
  animation-name: button-hover-danger;
  animation-duration: .5s;
  background: #c1290d;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
  animation: none;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}