.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem 0;
  text-align: center;
}

.nav-links a {
  border: 1px solid transparent;
  color: #f1f0ea;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links button:hover {
  font-family: 'Arvo', serif;
  color: #f1f0ea;
  text-shadow: -10px 6px 0 #ee320f;
}

@keyframes text-shadow {
  from {
    text-shadow: -10px 6px;
  }
  to {
    text-shadow: 0 0;
  }
}

.nav-links a:active,
.nav-links button:active {
  color: #ee320f;
  text-shadow: none;
  animation-name: text-shadow;
  animation-duration: 0.1s;
}

.nav-links a.active {
  color: #ee320f;
}

.nav-links a.active:hover {
  text-shadow: none;
  font-family: 'Montserrat', sans-serif;
}

.nav-links button {
  cursor: pointer;
  border: none;
  color: #f1f0ea;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    width: 110px;
    font-size: 0.9rem;
  }

  .nav-links a {
    color: #f1f0ea;
    text-decoration: none;
  }

  .nav-links button {
    color: #f1f0ea;
    background: transparent;
  }
}

@media (max-width: 768px) {
  .nav-links {
    justify-content: start;
    margin-top: 5rem;
    font-size: 1.1rem;
  }
  .nav-links a:hover,
  .nav-links button:hover {
    font-family: 'Montserrat', serif;
    text-shadow: none;
  }
  .nav-links a:active,
  .nav-links button:active {
    color: #ee320f;
    animation: none;
  }
  .nav-links a.active {
    color: #f1f0ea;
    text-decoration: underline;
    font-family: 'Arvo', serif;
  }
}
