@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Montserrat:wght@400;700&family=Playfair+Display:ital@1&family=Racing+Sans+One&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: black;
  background: #232646;
}

.container {
  min-height: calc(100vh - 230px);
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  color: #f1f0ea;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.9rem;
  }
}
